{% extends 'base.html' %}
{% load static %}

{% block heading_content %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" crossorigin="anonymous" type="text/css">
{% endblock %}


{% block content %}

    <h1>Curtis Poon</h1>
    <hr/>
    <a href="https://linkedin.com/in/curtis-poon/">Linked In</a>
    <br>
    <hr/>
    <img src="{% static 'images/Profile.jpg' %}" height="182" width="137">

    <table border="1">
        <thead>
        <tr>
            <td colspan="3"><h2>My Work Experience</h2></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2">McMaster University</td>
            <td>Technical Support Specialist</td>
        </tr>
        <tr>
            <td colspan="2">Session Instructor</td>
        </tr>
        <tr>
            <td>Student</td>
            <td>Masters</td>
            <td>Undergrad</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                Sitting with 5+ years of experience
            </td>
        </tr>
        </tfoot>
    </table>

    <div>
        <ul>
            <li>
                Working for 2 years at this now
            </li>
        </ul>
    </div>

    <div>
        <ol>
            <li>
                My number 1 achievement
            </li>
        </ol>
    </div>


    Contact Me:
    <table border="1">
        <tbody>
        <tr>
            <td>
                <form>
                    <input name="ContactMe" type="radio" content="Contact Me" required>Contact Me</input>
                    <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
                    By Email?</input>
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}